@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
    .my-col {
      color: #fff;
    }
  }
  .padding-div {
    color: #f8f9fa;
    background-color: #212529;
  }
  
  .test-fun {
    background-color: #5c6600;
    color: #fff;
  }
  
  @media (prefers-color-scheme: light) {
    .test-mixin {
      color: #000;
    }
  }
  @media (prefers-color-scheme: dark) {
    .test-mixin {
      color: #fff;
    }
  }